:root {
}

.labelWrap {
    width: 50%;
    white-space: normal;
    font-size: 35px;
}

.btnDifficulty {
    width: 30%;
    background-image: url("project://database/Assets/Art/UI/Backgrounds/btn_background_half_512x256.png?fileID=2800000&guid=ea92c55d6cb5fcc40954701941b2dc1b&type=3#btn_background_half_512x256");
    aspect-ratio: 3;
    color: rgb(210, 210, 210);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}
