:root {
}

.imgTalent {
    width: 75%;
    max-width: 500px;
    padding-bottom: 75%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#Btn_CTA .unity-button__image {
    height: 50px;
    width: 50px;
}

.popupContainer {
    flex-grow: 0;
    background-image: resource("UI/Images/popup_box_opacity_95");
    -unity-background-image-tint-color: rgb(82, 74, 74);
    width: 60%;
    min-width: auto;
    min-height: auto;
    max-height: 1575px;
    align-self: center;
    align-items: center;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    max-width: 625px;
    height: auto;
    justify-content: flex-start;
    align-content: auto;
}

.btnCTA {
    background-color: rgba(188, 188, 188, 0);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 100%;
    align-self: center;
    max-width: 500px;
    max-height: 150px;
    align-items: center;
    width: 100%;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    font-size: 50px;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: flex-end;
    aspect-ratio: 3;
}

.BtnBtnBtnContainer {
    margin-bottom: 50px;
    flex-grow: 1;
    width: 100%;
    height: auto;
    align-items: auto;
    align-content: auto;
    justify-content: flex-end;
    max-height: none;
    max-width: 500px;
    display: flex;
    flex-shrink: 0;
    margin-top: 50px;
    aspect-ratio: auto;
}
